:root {
  --bg-main-linear:linear-gradient(to right bottom, rgb(50 79 103), rgba(23, 22, 21, 0.959) 100%);
  --bg-main: #323d48;

  --hover: #ffffff1f;

  --dark: #232329;
  --white: #ffffff;
  --gray: #828282;
  --green: #4caf50;
  --light-blue: #0696a9;
  --rose: #dc3545;
  --dark-rose: #a22f3a;

  --border-color: #262735;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.list-group-item,
body {
  margin: 0;
  background: var(--bg-main-linear);
  color: var(--white);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.container {
  height: 400px;
  padding: 0;
  width: 330px;
  scrollbar-width: thin;
  overflow-y: auto;
}

a {
  text-decoration: none !important;
}

header {
  display: flex;
  font-size: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
}

header img {
  max-width: 35px;
  max-height: 35px;
}

.form-control {
  height: 100%;
  width: 100%;
  background: var(--bg-main);
  color: var(--white);
  border-radius: 7px;
  padding: 10px;
  border: 0;
  outline: 0;
}

/* list */
ul {
  padding: 0;
  margin: 0;
}

.list-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 5px 15px;
  transition: background-color .3s;
}

.list-group li:hover {
  background-color: var(--hover) !important;
}

/********************/
.ext-d {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.ext-d>div {
  height: 100%;
  display: flex;
  align-items: center;
}

.ext-d img {
  width: 16px;
  height: 16px;
}

/****************/
.badge {
  font-weight: 600;
  background-color: var(--light-blue);
  padding: 2px 7px;
  border-radius: 2px;
  text-transform: uppercase;
}

.form-check-input {
  cursor: pointer;
}

button {
  font-size: 10px;
  outline: none !important;
  transition: background-color 0.25s;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 1;
  border-radius: .25rem;
}

.btn-danger {
  color: var(--white);
  background-color: var(--rose);
  border-color: var(--rose);
  cursor: pointer;
  margin-right: 5px;
}

.btn-danger:hover {
  background-color: var(--dark-rose);
}

/****************/
footer button {
  width: 100%;
  background: transparent;
  border: 0;
  color: var(--gray);
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
}

footer svg path {
  fill: var(--gray);
}

footer button:hover {
  color: var(--white);
}

footer>button:hover svg path {
  color: var(--white);
  fill: var(--white) !important;
}

svg {
  width: 11px;
}

/* util */
.d-flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.fs-12 {
  font-size: 12px !important;
}

.m-0 {
  margin: 0;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-20 {
  margin-top: 20px !important;
}

.bg-dark {
  background-color: var(--dark);
  color: var(--white);
}

.bg-g {
  background-color: var(--green);
}

.text-muted {
  color: var(--gray);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-main);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}